<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.testcoffee">
    <!-- TCP/SSL/HTTP/HTTPS -->
    <uses-permission android:name="android.permission.INTERNET" /> <!-- USB -->
    <uses-feature android:name="android.hardware.usb.host" /> <!-- Bluetooth -->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" /> <!-- dangerous level permission, targetSdkVersion greater than or equal to 23 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" /> <!-- dangerous level permission, targetSdkVersion greater than or equal to 31 -->
    <uses-permission android:name="android.permission.BLUETOOTH_SCAN" /> <!-- Update resource, select file from external storage -->
    <!-- dangerous level permission, targetSdkVersion greater than or equal to 23 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TestCoffee">
        <activity
            android:name=".displayResultsActivity"
            android:exported="false" />
        <activity android:name=".voidActivity" />
        <activity android:name=".refundActivity" />
        <activity android:name=".activity_lookUp" />
        <activity
            android:name=".saleActivity"
            android:label="@string/app_name" />
        <activity android:name=".Payment" />
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.TestCoffee.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>